body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f5f7fa;
  color: #333;
}

* {
  box-sizing: border-box;
}

/* Layout */
.dashboard-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: #ffffff;
  border-right: 1px solid #e5e7eb;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 15px rgba(0,0,0,0.05);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  margin-bottom: 40px;

  color: #EC1C24;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 1px;
}

.logo-image {
  width: 85px;
  height: 85px;
  object-fit: contain;
}

/* Sidebar Buttons */
.sidebar button {
  background: transparent;
  border: none;
  color: #4b5563;

  padding: 14px 16px;
  margin-bottom: 10px;

  text-align: left;
  font-size: 16px;
  font-weight: 500;

  border-radius: 12px;

  cursor: pointer;
  transition: .3s;
}

.sidebar button:hover {
  background: #FDECEC;
  color: #EC1C24;
  transform: translateX(5px);
}
/* Active Menu */
.sidebar button.active {
  background: #FDECEC;
  color: #EC1C24;
  border-left: 4px solid #EC1C24;
  font-weight: 700;
  box-shadow: none;
}

/* Logout */
.logout {
  margin-top: auto;

  background: rgba(236,28,36,.08) !important;
  color: #EC1C24 !important;
}

.logout:hover {
  background: rgba(236,28,36,.15) !important;
}

/* Main Content */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Topbar */
.topbar {
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  padding: 20px 30px;
}

.topbar h3 {
  margin: 0;
  color: #EC1C24;
  font-size: 22px;
  font-weight: 700;
}

/* Content */
.content-area {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
  background: #f5f7fb;
}

/* Scrollbar */
.content-area::-webkit-scrollbar {
  width: 8px;
}

.content-area::-webkit-scrollbar-track {
  background: #eee;
}

.content-area::-webkit-scrollbar-thumb {
  background: #EC1C24;
  border-radius: 10px;
}

.content-area::-webkit-scrollbar-thumb:hover {
  background: #c9151d;
}

/* Mobile */
@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .logo {
    width: 100%;
    margin-bottom: 10px;
  }

  .sidebar button {
    margin-bottom: 0;
  }

  .main-content {
    width: 100%;
  }
}
@media (max-width:768px){

.logo{
    font-size:22px;
    gap:10px;
}

.logo-image {
    width:65px;
    height:65px;
}

}
@media (max-width:480px){

.logo{
    font-size:20px;
}

.logo-image {
    width:55px;
    height:55px;
}

}